[submodule "MultiMAE"]
	path = MultiMAE
	url = git@github.com:xingcw/MultiMAE.git
[submodule "DPT"]
	path = DPT
	url = git@github.com:xingcw/DPT.git
[submodule "Mask2Former"]
	path = Mask2Former
	url = git@github.com:xingcw/Mask2Former.git
